@{
    Layout = "~/Views/Shared/_LayoutMenuTopoClubes.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<section id="box_participantes" class="full_content full_width">
    <div class="center_content centralizaclass">
        <!-- Cabeçalho -->
        <header class="header-page">
            <a href="javascript:window.history.go(-1);" class="btn_voltar"></a>
            <h1>Participantes</h1>
        </header>
        <galeria-participantes 
            id-projeto="@ViewBag.projeto.Id" 
            tipo-projeto="@ViewBag.projeto.Tipo.Id" 
            id-grupo="@ViewBag.projeto.Edicao.IdGrupoMural" 
            itens-pagina="16" 
            escolas-participantes="@serializer.Serialize(ViewBag.escolas)" 
            turmas-participantes="@serializer.Serialize(ViewBag.turmas)" 
            total-participantes="@ViewBag.participantes.Total" 
            lista-participantes="@serializer.Serialize(ViewBag.participantes.Usuarios)" 
            icone-marcador="@serializer.Serialize(ViewBag.edicao.Marcador)" 
            default-config="@serializer.Serialize(ViewBag.defaultConfig)" 
         ></galeria-participantes>
    </div>
</section>

