@{
    Layout = "~/Views/Shared/_LayoutMenuTopoClubes.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    var anos = ViewBag.projeto.AnosEnvio;
}
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<section id="box_post-envio" class="full_content full_width">
    <div class="center_content centralizaclass">
        <div class="proj_template">
            
            @if (ViewBag._mensagemrapida != null && (ViewBag._mensagemrapida.IdProjetoInscricaoEnvio > 0 || ViewBag._mensagemrapida.IdProjetoPortalEnvio > 0))
            {

                if (ViewBag._mensagemrapida.IdProjetoInscricaoEnvio > 0)
                {
                    <post-envio-material bol-adm="false" comentario="false" post="@serializer.Serialize(ViewBag.dados)" mensagem-rapida="@serializer.Serialize(ViewBag._mensagemrapida)" usuario="@serializer.Serialize(ViewBag._usuario)" edicao="@serializer.Serialize(ViewBag.edicao)" default-config="@serializer.Serialize(ViewBag.defaultConfig)"></post-envio-material>
                    <!-- post.cshtml -->
                }
                else
                {
                    <post-envio comentario="false" post="@serializer.Serialize(ViewBag.dados)" mensagem-rapida="@serializer.Serialize(ViewBag._mensagemrapida)" usuario="@serializer.Serialize(ViewBag._usuario)" edicao="@serializer.Serialize(ViewBag.edicao)" etapa="@serializer.Serialize(ViewBag.etapa)"></post-envio>    
                }
				<section class="sidebar-envio grid_4">
                @if (ViewBag._mensagemrapida.IdProjetoPortalEnvio > 0 && ViewBag._mensagemrapida.IdProjetoInscricaoEnvio == 0)
                //area padrão onde somente existe material do portal - dados do perfil do portal
                {
                    if (ViewBag.edicao != null)
                    {
                        //desabilitado a visualização dos dados do Tutor
                        if (false && (ViewBag.edicao.Tutor != null))
                        {
                            <aside class="perfil">                            
                                <div class="ico-user">
                                    <a href="/AVA/Perfil/Home/Index/@ViewBag.edicao.Tutor.Login">
                                        <img src="@if (ViewBag.edicao.Tutor.Perfil.Thumb != "")
                                                  {
                                                    @ViewBag.edicao.Tutor.Perfil.Thumb
                                                  }
                                                  else
                                                  {
                                                      @:"/AVA/StaticContent/Common/img/paginas/projetos/icone_projetos.png";
                                                  }"
                                        />
                                    </a>
                                </div>
                                <div class="dados-user">
                                    <a href="/AVA/Perfil/Home/Index/@ViewBag.edicao.Tutor.Login">
                                        <h5 class="nome-user">Educacional Projetos</h5>
                                        <span class="serie-turma">@ViewBag.edicao.Tutor.Nome</span>
                                        <span class="nome-escola">@ViewBag.edicao.Tutor.Escola.Nome</span>
                                        <span class="nome-local">@ViewBag.edicao.Tutor.Escola.Cidade/@ViewBag.edicao.Tutor.Escola.Estado</span>
                                    </a>
                                </div>
                            </aside>
                            <section class="mapa-envio">
                                <!--custom-map width="100%" height="250px" ng-controller="controleCustomMap" sigla-estado="@Html.Raw(ViewBag.edicao.Tutor.Escola.Estado)" nome-cidade="@Html.Raw(ViewBag.edicao.Tutor.Escola.Cidade)" marcador=""></custom-map>
                                <map zoom="3" center="[-15.79423,-47.88217]" width="100%" height="250px" style="display: block; height: 350px !important;"></map-->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230482.98446059873!2d-49.28740255!3d-25.49515185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce3f5fc090ff1%3A0x3c7a83b0092bb747!2sCuritiba%2C+PR%2C+Brasil!5e0!3m2!1spt-BR!2s!4v1423588900044" style="border:0" width="100%" frameborder="0" height="250"></iframe>
                            </section>
                        }
                        else
                        {
                            //Sem tutor definido, portanto mostra perfil default
                            <aside class="perfil">   
                            
                                <div class="ico-user">
                                    <a href="/AVA/Pagina/Projetos">
                                        <img src="/AVA/StaticContent/Common/img/paginas/projetos/icone_projetos.png"/>
                                    </a>
                                </div>
                                <div class="dados-user">
                                    <a href="/AVA/Pagina/Projetos">
                                        <h5 class="nome-user">Educacional Projetos</h5>
                                        <!--span class="serie-turma">Tutor</span>
                                        <span class="nome-escola">Central de Projetos</span-->
                                        <span class="nome-local">Curitiba/PR</span>
                                    </a>
                                </div>
                            </aside>
                            <section class="mapa-envio">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230482.98446059873!2d-49.28740255!3d-25.49515185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce3f5fc090ff1%3A0x3c7a83b0092bb747!2sCuritiba%2C+PR%2C+Brasil!5e0!3m2!1spt-BR!2s!4v1423588900044" style="border:0" width="100%" frameborder="0" height="250"></iframe>
                            </section>
                        }
                    }
                    else
                    {
                        @:"<!--Sem edicao-->";
                    }
                } 
                @if (ViewBag._mensagemrapida.IdProjetoInscricaoEnvio > 0)
                //IMPLEMENTAR!!! área onde existe material do participante(existem inscrições)
                {
                    
                    <!--@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Id-->
                    <!--aside class="perfil"></aside-->
                    
                    <votacao-simples    enquete="@serializer.Serialize(ViewBag.etapaEnquete)"
                                        etapa-inscricao-envio="@serializer.Serialize(ViewBag._mensagemrapida.EtapaInscricaoEnvio)">
                    </votacao-simples>
                    
                    switch ((int)ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.InscricaoTipo.Id)
                    {
                        case 1:
                            //turmas
                            <aside class="perfil">
                                <div 
                                    class="ico-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a 
                                        href="@((anos.Count > 1 && anos[anos.Count - 1] != ViewBag._mensagemrapida.EtapaInscricaoEnvio.DataCriacao.Year) || ViewBag.edicao.BolEncerrado ? "javascript:;" : "/AVA/turma/" + @ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Link)"
                                        class="@(ViewBag.edicao.BolEncerrado ? "projeto-encerrado" : "")"
                                        style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                    >
                                        <img src="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgTurmaSmall';" />
                                    </a>
                                </div>
                        
                                <div 
                                    class="dados-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a 
                                        href="@((anos.Count > 1 && anos[anos.Count - 1] != ViewBag._mensagemrapida.EtapaInscricaoEnvio.DataCriacao.Year) || ViewBag.edicao.BolEncerrado ? "javascript:;" : "/AVA/turma/" + @ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Link)"
                                        style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                        class="@(ViewBag.edicao.BolEncerrado ? "projeto-encerrado" : "")"
                                    >
                                        <h5 class="nome-user">
                                            @(anos.Count > 1 ? ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Nome + " (" + ViewBag._mensagemrapida.EtapaInscricaoEnvio.DataCriacao.Year + ")" : ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Nome)
                                        </h5>
                                        @if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Serie != null && (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Serie.Nome != null && ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Serie.Nome != ""))
                                        {
                                            <span class="serie-turma">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Serie.Nome</span>
                                        }
                                        <span class="nome-escola">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Nome</span>
                                        <span class="nome-local">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Cidade/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Estado</span>
                                    </a>
                                </div>
                            </aside>
                                                                                                                                             break;
                        case 2:
                        case 3:
                                                                                                                                             //equipes
                            <aside class="perfil">
                                <div 
                                    class="ico-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a href=""><img src="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgTurmaSmall';"></a>
                                </div>
                                <div 
                                    class="dados-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a 
                                        href=""
                                        style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                    >
                                        <h5 class="nome-user">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Nome</h5>
                                        <!--span class="serie-turma">ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Apelido</span-->
                                        <span class="nome-escola">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Nome</span>
                                        <span class="nome-local">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Cidade/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Estado</span>
                                    </a>
                                </div>
                            </aside>
                            <section class="sobre-turma">
                                <h4>Sobre:</h4>
                                <!-- Limite máx. de 1000 caracteres. -->
                                <p>@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.TxtApresentacao</p>
                            </section>
                              break;
                        case 4:
                              //escola
                            <aside class="perfil">
                                <div class="ico-user"><a href="/AVA/Perfil/Home/Index/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Login"><img src="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';"></a></div>
                                <div 
                                    class="dados-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a 
                                        href="/AVA/Perfil/Home/Index/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Login"
                                        style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                    >
                                        <h5 class="nome-user">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Nome</h5>
                                        <!--span class="serie-turma">Turma / Série</span-->
                                        <!--span class="nome-escola">Nome da escola</span-->
                                        <span class="nome-local">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Cidade/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Estado</span>
                                    </a>
                                </div>
                            </aside>
                                                                                                                                             break;
                        case 5:
                                                                                                                                             //individual
                            <aside class="perfil">
                                <div 
                                    class="ico-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a href="/AVA/Perfil/Home/Index/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Login"><img src="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Perfil.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';"></a>
                                </div>
                                <div 
                                    class="dados-user"
                                    style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                >
                                    <a 
                                        href="/AVA/Perfil/Home/Index/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Login"
                                        style="@(ViewBag.edicao.BolEncerrado ? "cursor:default !important;" : "")"
                                    >
                                        <h5 class="nome-user">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Nome</h5>
                                        <span class="serie-turma">
                                            @{
                                                         Projeto.Business.Model.Turma temp = new Projeto.Business.Model.Turma();
                                                         if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Turmas.Count > 0)
                                                         {
                                                             temp = ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Turmas[0];
                                                    @temp.Nome
                                                    @Html.Raw(" / ")
                                                    @temp.Serie.Nome
                                                         }
                                            }
                                        </span>
                                        <span class="nome-escola">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Nome</span>
                                        <span class="nome-local">@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Cidade/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Estado</span>
                                    </a>
                                </div>
                            </aside>
                                                                                                                                             break;
                    }
                    
                    <section class="mapa-envio">
                        <highlight-map width="100%" height="250px" estado="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Estado" cidade="@Projeto.Business.Uteis.BusinessTools.RemoverAcentos(ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Escola.Cidade)"></highlight-map>
                    </section>
                    
                    if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Categorias != null)
                    {
                        if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Categorias.Count > 0)
                        {
                            <section class="categoria-inscricao @ViewBag.CatToClas">
                                <h4>CATEGORIA</h4>
                                <p>@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Categorias[0].Descricao</p>
                            </section>
                        }
                    }

                    switch ((int)ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.InscricaoTipo.Id)
                    {
                        case 1:

                            if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Alunos != null)
                            {
                                if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Alunos.Count > 0)
                                {
                                    if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Alunos is List<Projeto.Business.Model.Usuario>)
                                    {
                                        <section class="alunos-turma">
                                            <h4>Alunos</h4>
                                            <ul class="lista-alunos">
                                                @foreach (Projeto.Business.Model.Usuario Aluno in ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Alunos)
                                                {
                                                    <li><a href="/AVA/Perfil/Home/Index/@Aluno.Login"><img alt="@Aluno.Nome" title="@Aluno.Nome" src="@Aluno.Perfil.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';"></a></li>
                                                }
                                            </ul>

                                            @if (!ViewBag.edicao.BolEncerrado)
                                            {
                                                <a href="/AVA/turma/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Turma.Link" class="btn_veja-todos">Veja todos</a>
                                            }
                                        </section>
                                    }
                                }
                            }
                            break;
                        case 2:
                        case 3:
                            if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Alunos != null)
                            {
                                if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Alunos.Count > 0)
                                {
                                    if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Alunos is List<Projeto.Business.Model.Usuario>)
                                    {
                                        <section class="alunos-turma">
                                            <h4>Alunos</h4>
                                            <ul class="lista-alunos">
                                                @foreach (Projeto.Business.Model.Usuario Aluno in ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Equipe.Alunos)
                                                {
                                                    <li><a href="/AVA/Perfil/Home/Index/@Aluno.Login"><img alt="@Aluno.Nome" title="@Aluno.Nome" src="@Aluno.Perfil.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';"></a></li>

                                                }
                                            </ul>
                                            <!--
                                            <a href="" class="btn_veja-todos">Veja todos</a>
                                            -->
                                        </section>
                                    }
                                }
                            }
                            break;
                    }
                    if (Projeto.Business.Uteis.BusinessTools.In(ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.InscricaoTipo.Id, new[] { 1, 2, 3 }))
                    {
                    <section class="responsavel">

                        <h4>Professor responsável</h4>

                        <ul class="lista-professor">
                            <li>
                                <a href="/AVA/Perfil/Home/Index/@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Login">
                                    <div class="ico-user">
                                        <img src="@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Perfil.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';" >
                                    </div>
                                    <h5>@ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Responsavel.Nome</h5>
                                </a>                                        
                            </li>
                        </ul>
                    </section>
                    }
                    if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Parceiros != null)
                    {
                        if (ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Parceiros.Count > 0)
                        {
                            <section class="parceiros">
                                <h4>Professor(es) parceiro(s)</h4>

                                <ul class="lista-professor">
                                    @foreach (Projeto.Business.Model.Usuario parceiro in ViewBag._mensagemrapida.EtapaInscricaoEnvio.Inscricao.Parceiros)
                                    {
                                    <li>
                                        <a href="">
                                            <div class="ico-user">
                                                <img src="@parceiro.Perfil.Thumb" onerror="this.src='@ViewBag.defaultConfig.DefImgPerfilSmall';">
                                            </div>
                                            <h5>@parceiro.Nome</h5>
                                        </a>                                        
                                    </li>
                                    }
                                </ul>
                            </section>
                        }
                    }
                }
                </section>
            }
            else
            {
                <post-unico comentario="false" template="post-unico" post="@serializer.Serialize(ViewBag.dados)" usuario="@serializer.Serialize(ViewBag._usuario)"></post-unico>
                <section class="mural_sidebar grid_5">
	                <section class="widget_etapas">
                    @{
                int totalMostrados = 0;
                foreach (var tmpEtapa in ViewBag.etapasProximas)
                {
                    totalMostrados++;
                            <lista-desafios-mural  obj-edicao="[@serializer.Serialize(ViewBag.edicao)]" obj-etapa="@serializer.Serialize(tmpEtapa)"></lista-desafios-mural>
                }
                if (totalMostrados > 0)
                {
                            <a href="/AVA/Projetos/Clube/@ViewBag.strProjeto/Desafios" class="btn_confira">Confira todos</a>    
                }
                    }
	                </section>
	                <section class="widget_relacionados">
    	                <h2 class="widget-titulo">Conteúdos relacionados</h2>
                        <container-destaques id-container="@ViewBag.edicao.IdContainer"></container-destaques>
	                </section>
                </section>
            }
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/start/mural")

    
