@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Educacional | Alterar Dados";
}


<div id="ava_wrap" class="centralizaclass">
    <section class="as1" id="ava_container">
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message <br>
        @ViewBag.Message
    </section>
</div>
          
